services:
  gitea:
    image: docker.gitea.com/gitea:latest-rootless
    restart: always
    networks:
      - proxy
    volumes:
      - gitea-data:/var/lib/gitea
      - gitea-config:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      - traefik.enable=true
      - traefik.http.services.git.loadbalancer.server.port=3000
      - traefik.http.routers.git.rule=Host(`${HOST}`)
      - traefik.http.routers.git.tls.certresolver=localresolver
      - traefik.http.routers.git.tls=true
      - traefik.docker.network=proxy
    environment:
      - GITEA__repository__ENABLE_PUSH_CREATE_ORG=true
      - GITEA__server__OFFLINE_MODE=true
      - GITEA__server__ROOT_URL=https://${HOST}/
      - GITEA__server__DOMAIN=${HOST}
      - GITEA__server__SSH_DOMAIN=${HOST}
      - GITEA__server__SSH_PORT=2222
      - GITEA__service__DISABLE_REGISTRATION=true
      - GITEA__service__REQUIRE_SIGNIN_VIEW=true
volumes:
  gitea-data:
    driver: local
  gitea-config:
    driver: local


networks:
  proxy:
    external: true