services:
  gitea:
    image: docker.gitea.com/gitea:latest-rootless
    restart: always
    volumes:
      - gitea-data:/var/lib/gitea
      - gitea-config:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "9097:3000"
      - "2222:2222"
volumes:
  gitea-data:
    driver: local
  gitea-config:
    driver: local