services:
  gitea:
    image: docker.gitea.com/gitea:latest-rootless
    restart: always
    networks:
      - gitea
      - proxy
    volumes:
      - gitea-data:/var/lib/gitea
      - gitea-config:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      - traefik.enable=true
      - traefik.http.services.git.loadbalancer.server.port=3000
      - traefik.http.routers.git.rule=Host(`${HOST}`)
      - traefik.http.routers.git.tls.certresolver=localresolver
      - traefik.http.routers.git.tls=true
      - traefik.docker.network=proxy
    environment:
      - GITEA__repository__ENABLE_PUSH_CREATE_ORG=true
      - GITEA__webhook__ALLOWED_HOST_LIST=192.168.50.136
      - GITEA__server__OFFLINE_MODE=true
      - GITEA__server__ROOT_URL=https://${HOST}/
      - GITEA__server__DOMAIN=${HOST}
      - GITEA__server__SSH_DOMAIN=${HOST}
      - GITEA__server__SSH_PORT=2222
      - GITEA__service__DISABLE_REGISTRATION=true
      - GITEA__service__REQUIRE_SIGNIN_VIEW=true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3
    deploy:
      resources:
        limits:
          memory: 1G
  act_runner:
    image: docker.io/gitea/act_runner:nightly
    restart: unless-stopped
    networks:
      - gitea
    volumes:
      - runner-config:/config
      - runner-data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - CONFIG_FILE=/config/config.yaml
      - GITEA_INSTANCE_URL=https://${HOST}/
      - GITEA_RUNNER_REGISTRATION_TOKEN=${GITEA_RUNNER_REGISTRATION_TOKEN}
      - GITEA_RUNNER_NAME=local-runner-1

volumes:
  gitea-data:
    driver: local
  gitea-config:
    driver: local
  runner-data:
    driver: local
  runner-config:
    driver: local


networks:
  gitea:
  proxy:
    external: true