services:
  postgres:
    image: postgres:18-alpine
    restart: always
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD:-pass}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - links
  linkwarden:
    image: ghcr.io/linkwarden/linkwarden:latest # comment to build from source
    environment:
      - NEXTAUTH_SECRET=${SECRET:-secret}
      - NEXTAUTH_URL=http://localhost:3000/api/v1/auth
      - DATABASE_URL=postgresql://postgres:${DB_PASSWORD:-pass}@postgres:5432/postgres
      - OPENAI_MODEL=${MODEL:-gpt-4o}
      - OPENAI_API_KEY=${OPENAI_API_KEY:-}
    restart: always
    networks:
      - links
      - proxy
    volumes:
      - linkwardendata:/data/data
    depends_on:
      - postgres
      - meilisearch
    labels:
      - traefik.enable=true
      - traefik.http.services.linkwarden.loadbalancer.server.port=3000
      - traefik.http.routers.linkwarden.rule=Host(`links.${HOST_DOMAIN:-local.home}`)
      - traefik.http.routers.linkwarden.tls.certresolver=localresolver
      - traefik.http.routers.linkwarden.tls=true
      - traefik.docker.network=proxy
  meilisearch:
    image: getmeili/meilisearch:v1
    restart: always
    networks:
      - links
    volumes:
      - meilidata:/meili_data

volumes:
  pgdata:
  linkwardendata:
  meilidata:

networks:
  proxy:
    external: true
  links: