services:
  web:
    image: ghcr.io/karakeep-app/karakeep:${KARAKEEP_VERSION:-release}
    restart: unless-stopped
    volumes:
      - data:/data
    networks:
      - links
      - proxy
    environment:
      - MEILI_ADDR=http://meilisearch:7700
      - BROWSER_WEB_URL=http://chrome:9222
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - DATA_DIR=/data # DON'T CHANGE THIS
      - NEXTAUTH_SECRET=${SECRET}
      # PocketID
      - OAUTH_WELLKNOWN_URL=https://links.${HOST_DOMAIN:-local.home}/.well-known/openid-configuration
      - OAUTH_CLIENT_SECRET=${POCKET_SECRET}
      - OAUTH_CLIENT_ID=${POCKET_ID}
      - OAUTH_PROVIDER_NAME=Pocket-ID
      - DISABLE_PASSWORD_AUTH=true
      - OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING=true
      - NEXTAUTH_URL=https://links.${HOST_DOMAIN:-local.home}
    labels:
      - traefik.enable=true
      - traefik.http.services.links.loadbalancer.server.port=3000
      - traefik.http.routers.links.rule=Host(`links.${HOST_DOMAIN:-local.home}`)
      - traefik.http.routers.links.tls.certresolver=localresolver
      - traefik.http.routers.links.tls=true
      - traefik.docker.network=proxy
  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:124
    restart: unless-stopped
    networks:
      - links
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars
  meilisearch:
    image: getmeili/meilisearch:v1
    restart: unless-stopped
    networks:
      - links
    environment:
      MEILI_NO_ANALYTICS: "true"
    volumes:
      - meilisearch:/meili_data

volumes:
  meilisearch:
  data:

networks:
  links:
  proxy:
    external: true