services:
  metube:
    image: ghcr.io/alexta69/metube
    container_name: metube
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - ${DOCKER_DIR:-./}media/youtube:/downloads
    dns:
      - 1.1.1.1
      - 1.0.0.1
    labels:
      - docker-volume-backup.stop-during-backup=true
      - traefik.enable=true
      - traefik.http.services.metube.loadbalancer.server.port=8081
      - traefik.http.routers.metube.rule=Host(`${HOST}`)
      - traefik.http.routers.metube.tls.certresolver=${CERT_RESOLVER}
      - traefik.http.routers.metube.tls=true
      - traefik.docker.network=proxy
    environment:
      - UID=${USER:-1000}
      - GID=${GROUP:-1000}
      - DOWNLOAD_MODE=sequential
      - DOWNLOAD_DIR=/downloads
networks:
  proxy:
    external: true