services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v1
    restart: unless-stopped
    environment:
      - APP_URL=https://${HOST}
      - TRUST_PROXY=true
      - PUID=1000
      - PGID=1000
    networks:
      - proxy
    ports:
      - 1411:1411
    volumes:
      - "data:/app/data"
    # Optional healthcheck
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
    labels:
      - traefik.enable=true
      - traefik.http.services.pocket-id.loadbalancer.server.port=1411
      - traefik.http.routers.pocket-id.rule=Host(`${HOST}`)
      - traefik.http.routers.pocket-id.tls.certresolver=localresolver
      - traefik.http.routers.pocket-id.tls=true
      - traefik.docker.network=proxy

volumes:
  data:

networks:
  proxy:
    name: proxy
    external: true