version: "2.4"

services:
  vpn:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    restart: unless-stopped
    environment:
      - TZ=Europe/Warsaw
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${PASS}
      - SERVER_COUNTRIES=Ukraine,Hong Kong
      - PORT_FORWARD_ONLY=on
    dns: 9.9.9.9
    ports:
      - "9095:8080"      # qBittorrent WebUI

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:vpn
    environment:
      - PUID=${UID:-1000}
      - PGID=${GID:-1000}
      - TZ=Europe/Warsaw
      - WEBUI_PORT=8080
      - UMASK=002
    volumes:
      # Configuration directory
      - qbittorrent_config:/config
      # Downloads directory (contains complete/, incomplete/ etc.)
      - ${DOCKER_DIR:-.}/downloads:/downloads
    restart: unless-stopped

volumes:
  qbittorrent_config: