services:
  vpn:
    image: qmcgaw/gluetun:latest
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    restart: unless-stopped
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${PASS}
      - SERVER_COUNTRIES=Ukraine,Hong Kong
      - PORT_FORWARD_ONLY=on
    dns: 9.9.9.9
    ports:
      - "9095:8080"
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    network_mode: service:vpn
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
    volumes:
      - qbittorrent_config:/config
      - ${DOCKER_DIR}/downloads:/downloads
    restart: unless-stopped

volumes:
  qbittorrent_config: